@CHARSET "UTF-8";

.dialog-right-cnt-wrap .dialog-left-list-wrap{
	display:inline;
	margin-left:5px;
	width:1085px;
}
.dialog-left-list-wrap .dialog-left-list-hd{
	background:#f3f3f3;
	border:1px solid #dcdcdc;
	color:#0079ff;
	font:14px/36px "锟斤拷锟斤拷锟斤拷亭锟节硷拷锟斤拷","Microsoft YaHei","锟斤拷锟斤拷";
	height:36px;
	margin-bottom:6px;
	padding-left:10px;
	width:788px;
}
.dialog-left-list-hd .new-link{
	background:#0079ff;
	border-radius:3px;
	color:#fff;
	height:28px;
	line-height:28px;
	margin:4px 6px 0 0;
	text-align:center;
	width:93px;
}
.dialog-table{
	border-collapse:collapse;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	font:normal 14px "锟斤拷锟斤拷锟斤拷亭锟节硷拷锟斤拷","Microsoft YaHei","锟斤拷锟斤拷";
	width:800px;
}
.dialog-table th,.dialog-table td{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:0;
}
.dialog-table th{
	background-color:#fafafa;
	font-weight:normal;
	height:42px;
}
.dialog-table td{
	line-height:18px;
	padding:11px 4px 10px 5px;
	text-align:center;
	vertical-align:top;
}
.dialog-table a{
	color:#0079ff;
	text-decoration:underline;
}
.dialog-table .f-ta-left{
	text-align:left;
}
.dialog-table .edit-icon{
	background-position:0 -169px;
	height:15px;
	margin-left:3px;
	width:14px;
}
.dialog-table .del-icon{
	background-position:0 -192px;
	height:15px;
	margin-left:8px;
	width:13px;
}